/**
 * secrets.h.dist
 *
 * Created on: 2021-12-24
 *
 * Copyright (c) 2021, 2022 Michael Hirsch. All rights reserved.
 * This file is part of the "Generic ESP8266 Keypad" project by Michael Hirsch.
 *
 * This project is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 3.0 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
 *
 */

// Make a copy of this file named "secrets.h" and change the defined values
// to match your environment.

#ifndef SECRETS_H
#define SECRETS_H

#define DEVICE_NAME_PREFIX "keypad"

#define SSID_NAME "<ssid name>"
#define SSID_PASSWORD "<ssid password>"

// MQTT connection
#define MQTT_SERVER "<mqtt server dns name or IP>"
#define MQTT_PORT 1883
#define MQTT_USER "<mqtt user name>"
#define MQTT_PASSWORD "<mqtt password>"
#define MQTT_DOMAIN "<mqtt qualifier>"

// HTTP connection for the config file
// The config file is HTTP_URI<mac-addr>.json
// This defaults to /config/<mac-addr>.json on this server
// Comment out the next line to disable fetching the configuration
#define FETCH_CONFIG
#define HTTP_SERVER "<http config server dns name or IP>"
#define HTTP_URI "/config/"
#define HTTP_PORT 8008
#define HTTP_USER "<http user name>"
#define HTTP_PASSWORD "<http password>"

// Domoticz server
#define DOMOTICZ_SERVER "<Domoticz server dns name or IP>"
#define DOMOTICZ_PORT 8080
#define DOMOTICZ_USER "<Domoticz user name>"
#define DOMOTICZ_PASSWORD "<Domoticz password>"

#endif // SECRETS_H
